body {
    color: white;
    background-color:#030342;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color:aqua;
    
}

header {
    padding-top: 50px;
}

.center {
    text-align: center;
}

h4 {
    color: aqua;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px white;
}

input{
    width: 100%;
    padding: 8px 0px;
    margin: 8px 0px;
    border-color: aqua;

}
input[type=text] {
    height: 100px;
}
button {
    background-color: aqua;
    border-color: #030342;
    width: 100px;
    height: 30px;
    border-radius: 12px;
    transition-duration: 0.4s;
    cursor: pointer
}
button:hover{
    background-color: aqua;
    color: white;
} 